---
layout: default
---
{% include header.html %}
<h2>Weekly Challenges</h2>
<p class="bio">Weekly Challenges are an initiative to encourage regular practice. Each week we select three problems of varying difficulty from different competetive programming websites.</p>
</br>
<p class="bio"> We encourage you to find, implement and test various solutions to these. Feel free to Google concepts you don't know and discuss with your friends!</p>
</br>
<div id="wcdiv">
    {% for wc in site.categories["weeklychallenge"] %}
        <a class="pagelink" href="{{site.baseurl}}{{wc.url}}">{{wc.title}}</a>
        <p>{{wc.about}}</p>
    {% endfor %}
<div>
